aside {
  height: fit-content;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 7px 10px #e5e5e5;
}

aside ul li {
  display: inline-block;
  margin: 1rem 2rem 0 0;
}

.subreddit-loading {
  height: 1.2rem;
  width: 10rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  aside {
    box-shadow: none;
    margin-top: 1rem;;
  }
}