.subreddit-filter {
  background-color: #888888;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
}

.subreddit-filter-cancel {
  background-color: #ffffff;
  color: #888888;
  font-weight: bold;
  border-radius: 0.3rem;
  border: 1px solid #888888;
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.3rem;
}