.search {
  display: inline;
  cursor: pointer;
  color: #888;
  margin-left: 1rem;
  border: none;
  font-size: 1.5rem;
  vertical-align: bottom;
}

.searchbar input {
  color: #555;
  padding: 0 1rem;
  margin-left: 3rem;
  border: 1px solid #ccc;
  width: 20rem;
  height: 2rem;
  border-radius: 0.3rem;
}