.post-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.vote-score {
  margin: 10px 0;
}

.post-vote-loading {
  height: 5rem;
  width: 3rem;
}